// Home page

#home-page {
	padding: 0;
	margin: 0;

	.main-wrap {
		margin: grid(1);
		@include clearfix;
	}

	main {
		height: calc(90vh);
		text-align: center;
		.grid {
			height: 100%;
		}

		.logo {
			display: inline-block;
			margin-bottom: grid(3);
		}
	}

	footer {
		display: none;
	}

	// Desktop styles
	@include media-md {
		.main-wrap {
			border-right: 1px solid $grey;
		}

		main {
			height: calc(100vh - 20px);
		}

		footer {
			display: block;
			font: 12px/1 $font-display;
			letter-spacing: 1.75px;
			div {
				transform: rotate(90deg);
			  transform-origin: left top;
			  position: absolute;
			  left: calc(100% - 20px);
			  white-space: nowrap;
			  &.-top {
			  	top: 10px;
			  }
			  &.-middle {
			  	top: 50%;
			  }
			}
		}
	}
}
